  <section id="form"><!--form-->
    <div class="container">
      <div class="row">
      
        <div class="col-sm-4">
          <div class="signup-form"><!--sign up form-->
            <h2><%= t ".New_User_Signup" %>!</h2>
              <%= render 'form' %>

            
          </div><!--/sign up form-->
        </div>
      </div>
    </div>
  </section><!--/form-->
