@import "bootstrap";
@import "bootstrap-sprockets";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "main";
@import "animate";
@import "prettyPhoto";
@import "price-range";
@import "responsive";

.tat{
	font-weight: bold;
	float:right;
	font-size: 20px;
	margin-right: 10px;
	margin-top: 10px; 
}
.lac{
	font-weight: bold;
	font-size: 20px;

}
#login-logo{
	font-size: 17px;
}
.index-img img{
	width: 60px;
	height: 80px;
	object-fit: cover;
}	

.replies.replies {
	margin-left: 50px;
}

.margin50px{
	margin-top:50px;
}

.Awaiting_check{
	background-color: #0080FF;
}
.Canceled_by_seller{
	background-color: #8A0808;
}
.Accepted{
	background-color: #01DF3A;
}
.Processing{
	background-color: #FF8000;
}
.Shipping{
	background-color: #8000FF;
}
.Delivered{
	background-color: #0B6138;
}
.Refunded{
	background-color: #FFBF00;
}
.Canceled_by_buyer{
	background-color: #FE2E2E;
}

.lang a{
	color: white;
	font-weight: bold;
}

.lang {
	color: white;
	font-weight: bold;
	margin-top: 12px;
    margin-left: 20px;
}

.fa-eye {
	margin-left: 10%;
}

.index-img {
	width: 10%;
    float: left;
}


.phongto{
	transition: transform 1.2s;
}
.phongto:hover{
	transform: scale(1.2);
}

.button-login{
	width:50px!important;
	font-size: 15px!important;
	text-align: center!important;
}
.admin-logo{
	font-size: 36px;
	color: skyblue; 
}
.pr-left{
	float: left;
}
.color_select input[type="radio"] {
  display: none;
}

.color_select span {
  display: inline-block;
  padding: 5px;
  font-size: 14px!important;
  text-transform: uppercase;
  border: 2px solid gold;
  border-radius: 3px;
  color: gold;
}

.color_select input[type="radio"]:checked + span {
  background-color: gold;
  color: black;
}
.size_select input[type="radio"] {
  display: none;
}

.size_select span {
  display: inline-block;
  padding: 5px;
  font-size: 14px!important;
  text-transform: uppercase;
  border: 2px solid gold;
  border-radius: 3px;
  color: gray;
}

.size_select input[type="radio"]:checked + span {
  background-color: skyblue;
  color: red;
}


#notice-select{
	color: red;
}

.fa-reply{
	margin-right: 10px;
}

.pr-name {
	margin-left: 10px;
}

.phongto{
	transition: transform 1.2s;
}

.phongto:hover{
	transform: scale(1.2);
}

.button-login{
	width:50px!important;
	font-size: 15px!important;
	text-align: center!important;
}
.admin-logo{
	font-size: 36px;
	color: skyblue; 
}
.pr-left{
	float: left;
}
.color_select input[type="radio"] {
  display: none;
}

.color_select span {
  display: inline-block;
  padding: 5px;
  font-size: 14px!important;
  text-transform: uppercase;
  border: 2px solid gold;
  border-radius: 3px;
  color: gold;
}

.color_select input[type="radio"]:checked + span {
  background-color: gold;
  color: black;
}
.size_select input[type="radio"] {
  display: none;
}

.size_select span {
  display: inline-block;
  padding: 5px;
  font-size: 14px!important;
  text-transform: uppercase;
  border: 2px solid gold;
  border-radius: 3px;
  color: gray;
}

.size_select input[type="radio"]:checked + span {
  background-color: skyblue;
  color: red;
}


#notice-select{
	color: red;
}

.product-description {
	width: 80%;
}

#notice-select{
	color: red;
}

.index-img.aaa{
	width: 300px;
}

td.content{
	width: 50%;	
}

td.action{
	width: 10%;	
}

.productinfo.text-center a img{
	height: 380px;
    width: 260px;
    object-fit: cover;
}

div.inner{
	margin-left: 40px;
}

.icon i {
	margin-right: 40px;
}

.add_product a{
	float: right; 
	margin-bottom: 20px; 
	margin-right: 20px;
}

li.sidebar_unit{
	height: auto;
}