@import "bootstrap";
@import "bootstrap-sprockets";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "main";
@import "animate";
@import "prettyPhoto";
@import "price-range";
@import "responsive";

.tat{
	font-weight: bold;
	float:right;
	font-size: 20px;
	margin-right: 10px;
	margin-top: 10px; 
}
.lac{
	font-weight: bold;
	font-size: 20px;

}
#login-logo{
	font-size: 17px;
}
.index-img img{
	width: 60px;
	height: 80px;
	object-fit: cover;
}	

.replies.replies {
	margin-left: 50px;
}

.margin50px{
	margin-top:50px;

}

.phongto{
	transition: transform 1.2s;
}
.phongto:hover{
	transform: scale(1.2);
}

.button-login{
	width:50px!important;
	font-size: 15px!important;
	text-align: center!important;
}
.admin-logo{
	font-size: 36px;
	color: skyblue; 
}
.pr-left{
	float: left;
}
.color_select input[type="radio"] {
  display: none;
}

.color_select span {
  display: inline-block;
  padding: 5px;
  font-size: 14px!important;
  text-transform: uppercase;
  border: 2px solid gold;
  border-radius: 3px;
  color: gold;
}

.color_select input[type="radio"]:checked + span {
  background-color: gold;
  color: black;
}
.size_select input[type="radio"] {
  display: none;
}

.size_select span {
  display: inline-block;
  padding: 5px;
  font-size: 14px!important;
  text-transform: uppercase;
  border: 2px solid gold;
  border-radius: 3px;
  color: gray;
}

.size_select input[type="radio"]:checked + span {
  background-color: skyblue;
  color: red;
}


#notice-select{
	color: red;
}


